* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  padding: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.337);
  border-radius: 16px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: white;
}

.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.toast-success {
  background-color: #00a30b;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  max-width: 300px;
  animation: slideIn 0.5s ease forwards, fadeOut 0.5s 2.5s ease forwards;
}

.toast-fail {
  background-color: #ff0b0b;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  max-width: 300px;
  animation: slideIn 0.5s ease forwards, fadeOut 0.5s 2.5s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}



/* loader */

